/* --------------Flex Container vs Grid Container------------------- */

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container > * {
  flex-grow: 1;
  flex-basis: 30%;
}

.grid-container {
  display: grid;
  /* grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr); */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
} */

/* .flex-container div {
  outline: 2px solid black;
  padding: 0.5em;
}

.grid-container div {
  outline: 2px solid black;
  padding: 0.5em;
} */

/* ------------------Flex Navigation vs Grid Navigation----------------- */
 /* .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  outline: 2px solid rgb(255, 47, 47);
}

.nav-list li a {
  text-decoration: none;
}

header {
  --border-width: 5px;
  border: var(--border-width) solid black;
  margin-bottom: 5em;
  padding: 0;
}

header > *:first-child{
  border: var(--border-width) solid black;
}

h1 {
  color: orange;
  filter: drop-shadow(10px 10px 15px black);
  text-align: center;
}

h2 {
  margin: 0;
}


.flex .nav-list {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}


.grid .nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}  */


/* -----------------------Flex Vs Grid Cards----------------------- */
h3, ul {
  margin: 0;
}

.cards .card {
  background: green;
  padding: 1em;
}

.columns .tags {
  padding: 0.25em;
  background: lightgreen;
  list-style: none;
  
}



.columns {
  /* display: flex;
  gap: 1em; */
}

.columns > * {
  /* flex: 1; */
}


.columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

